.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: red;
    background-color: grey;
  }
}
